* {
    margin: 0%;
    padding: 0;
    text-align: center;
}

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
}
 .boxes{
    margin-top: 17%;
    /* margin: 10% auto; */
 }
 .drum{
    width:100px;
    height: 100px;
    outline:none;
    border: none;
    box-shadow:0px 0px 10px rgb(0, 0, 0);
    margin: 2%;
    cursor: pointer;
 }
 .a{
   
    background-image: url(images/tom1.png);
 }
 .b{
    background-image: url(images/tom2.png);
 }
 .c{
    background-image: url(images/tom3.png);
 }
 .d{
    background-image: url(images/tom4.png);
 }
.e{
    background-image: url(images/snare.png);
}
.f{
    background-image: url(images/kick.png);
}
.g{
    background-image: url(images/crash.png);
}

.animate{
   
    box-shadow:0px 0px 10px rgb(0, 221, 255);
    animation: gloww infinite 1s;
}
@keyframes gloww{
    20%{
        transform: scale(1.06);
    }
}



@media screen and (max-width: 780px) {
    body 
    {
        background-image: url(images/mobile.png); 
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .boxes{
        margin-top: 60%;
    }
}