* {
    margin: 0%;
    padding: 0;
    text-align: center;
}

body {
    background-image: url(images/bg.jpg);
    background-size: cover;
}
 .boxes{
    margin-top: 17%;
    /* margin: 10% auto; */
 }
 .drum{
    width:100px;
    height: 100px;
    outline:none;
    border: none;
    box-shadow:0px 0px 10px rgb(0, 0, 0);
    margin: 2%;
    cursor: pointer;
 }
 .a{
   
    background-image: url(images/tom1.png);
 }
 .b{
    background-image: url(images/tom2.png);
 }
 .c{
    background-image: url(images/tom3.png);
 }
 .d{
    background-image: url(images/tom4.png);
 }
.e{
    background-image: url(images/snare.png);
}
.f{
    background-image: url(images/kick.png);
}
.g{
    background-image: url(images/crash.png);
}

.animate{
   
    box-shadow:0px 0px 10px rgb(0, 221, 255);
    animation: gloww infinite 1s;
}
@keyframes gloww{
    20%{
        transform: scale(1.06);
    }
}
footer{
   
    color:aliceblue;
    position: fixed;
    left: 45%;
    bottom: 10px;
    text-align: center;
}
.text-glow{
    text-shadow: 0px 0px 10px white;
}

@media screen and (max-width: 780px) {
    body 
    {
        background-image: url(images/mobile.png); 
        background-size: cover; 
        background-position: center center;
        background-repeat: no-repeat;
      background-attachment: fixed;
    }
    .boxes{
        margin-top: 60%;
    }
    footer{
   
        color:aliceblue;
        position: fixed;
        left: 20%;
        bottom: 10px;
        text-align: center;
    }
}
#preloader{
    top:0%;
    background: #000 url(images/preloader.gif) no-repeat center;
    height: 100vh;
    width: 102%;
    position:fixed;
    z-index:100;
    display: flex;
  justify-content: center;
  align-items: center;
  }
  .pretext{
    margin-top:30%;
    margin-left: 10px;
    color:rgba(238, 255, 0, 0.893);
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    animation: glowww infinite 2s;
  }
  @keyframes glowww{
    20%{
      text-shadow:0px 0px 15px  rgb(251, 255, 0);
      transform:scale(1.02);
    }
  }